body {
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: white;
}

.container {
    display: flex;
}

/* Navigation  */
.nav {
    width: 200px;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    border-right: 1px solid #5e3f3f;
}

.nav h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-left: 1.5rem;
    cursor: pointer;
}

.icons {
    display: flex;
    flex-direction: column;
}

.icon-row {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.icon-row:hover {
    cursor: pointer;
    background-color: #D9CFC7;
    border-radius: 0.4rem;
}

.icon-row i {
    font-size: 1.3rem;
    margin-left: 1.1rem;
    margin-right: 10px;
}

.newPost a{
    color: white;
    text-decoration: none;
}


/* Main Content  */
.content{
    margin-left: 200px;
    width: 770px;
}

.stories {
    margin-left: 4rem;
    display: flex;
    flex-direction: row;
}

.story img{
    width: 70px;
    height: 70px;
    margin: 1rem 1rem 0 1rem;
    padding: 4px;
    border-radius: 50%;
    background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
}

.story span {
    margin-left: 2.5rem;
}

.story:hover {
    cursor: pointer;
    transform: scale(1.03);
}


.dp {
    display: flex;
}

h4 {
    font-size: 1.2rem;
    margin-left: 0.7rem;
    margin-top: 4px;
}


.posts {
    width: 450px;
    margin: 1.5rem 2rem 2rem 10rem;
    padding: 1rem;
    border: 1px solid #5e3f3f;
    border-radius: 0.6rem;
    box-shadow: 2px 2px 5px black ;
}

.posts:hover {
    transform: scale(1.01);
}

.profilePic {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.img {
    width: 450px;
    height: 250px;
    border-radius: 0.2rem;
    background-color: #D6F4ED;
}

.btn {
    display: flex;
}

.btn a {
    margin-right: 1rem;
    text-decoration: none;
    color: rgb(113, 90, 90);
}

.btn a:hover {
    text-decoration: underline;
    color: blue;
}

.btn button {
    border: none;
    background-color: black;
    font-size: 1rem;
    color: rgb(113, 90, 90);
}

.btn button:hover {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.reviews i{
    font-size: 1.3rem;
    cursor: pointer;
    margin-right: 0.4rem;
}


/* Suggestions  */
.suggestions {
    width: 100%;
    padding: 2.5rem 0 2rem 3rem;
}

.user {
    display: flex;
    /* margin: 3rem 0 2rem 3rem; */
    border-bottom: 1px solid black ;
}

.user img{
    width: 50px;
    height: 50px;
    margin-right: 0.6rem;
    border-radius: 50%;
    cursor: pointer;
}

.username {
    font-weight: bold;
    cursor: pointer;
}

.name {
    color: pink;
    font-weight: 100;
    cursor: pointer;
}

.user a {
    text-decoration: none;
    font-size: 15px;
    margin: 0.8rem 0 0 2.8rem;
}

.user a:hover {
    text-decoration: underline;
}

.suggested span {
    color: pink;
    font-weight: 100;
}

.suggested h5 {
    display: inline-block;
    margin-left: 5.4rem;
}

.suggested h5:hover {
    cursor: pointer;
    color: gray;
}

.suggested-users {
    display: flex;
    flex-direction: column;
}

.suggested-user-row {
    display: flex;
    margin-bottom: 15px;
}

.suggested-user-row img {
    width: 40px;
    height: 40px;
    margin-right: 0.6rem;
    border-radius: 50%;
    cursor: pointer;
}

.fbu {
    color: pink;
    font-size: 12px;
    font-weight: lighter;
    cursor: pointer;
}

.follow-btn {
    height: 32px;
    margin-top: 0.2rem;
    margin-left: 1rem;
    padding: 0 1.3rem 0 1.3rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #6629e0;
    color: white;
    font-weight: bold;
}

.follow-btn:hover {
    background-color: darkblue;
    cursor: pointer;
}

.message {
    width: 200px;
    background-color: #112a29;
    margin-top: 5rem;
    margin-left: 1.8rem;
    padding: 0.5rem 0.8rem 0.9rem 0.5rem;
    border-radius: 2rem;
    position: fixed;
}

.message i {
    font-size: 20px;
}

.message span {
    margin-left: 0.3rem;
    margin-right: 2rem;
    font-size: 20px;
}

.message img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.cat {
    margin-left: -8px;
}

.message:hover {
    background-color: #1c3e3c;
    cursor: pointer;
}


