body {
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #EFECE3;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    margin-left: 33rem;
}

.header {
    display: flex;
}

h4 {
    font-size: 1.2rem;
    margin-left: 0.7rem;
    margin-top: 4px;
}

.profilePic {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.posts {
    width: 300px;
    margin: 0.5rem 2rem 2rem 2rem;
    padding: 1rem;
    border-radius: 0.6rem;
    box-shadow: 2px 2px 5px black ;
}

.posts:hover {
    transform: scale(1.01);
}

.img {
    width: 300px;
    height: 200px;
    border-radius: 0.2rem;
    background-color: #D6F4ED;
}

.newPostbtn {
    margin-left: 36rem;
    margin-bottom: 1rem;
    padding: 0.7rem;
    border-radius: 0.4rem;
    border: none;
    background-color: #1A2A4F; 
}

.newPostbtn a{
    text-decoration: none;
    color: #F4F4F4;
}

.newPostbtn:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 8px black;
}

.btn {
    display: flex;
}

.btn a {
    margin-right: 1rem;
    text-decoration: none;
    color: rgb(113, 90, 90);
}

.btn a:hover {
    text-decoration: underline;
    color: blue;
}

.btn button {
    border: none;
    background-color: #EFECE3;
    font-size: 1rem;
    color: rgb(113, 90, 90);
}

.btn button:hover {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.reviews i{
    font-size: 1.3rem;
    cursor: pointer;
}

