body {
    margin: auto;
    font-family: 'Instagram Sans', 'Roboto', 'San Francisco', Arial, sans-serif;
    background-color: black;
    color: white;
}

h1 {
    margin-left: 33rem;
    margin-bottom: -1px;
}

.back {
    margin-left: 2rem;
    margin-bottom: -1px;
    margin-top: -1px ;
}

.back a {
    text-decoration: none;
    color: white;
}

.back a:hover {
    text-decoration: underline;
}

.container {
    margin-left: 20rem;
    height: 460px;
    width: 600px;
    text-align: center;
    border: 1px solid rgb(47, 47, 47);
}

.container img {
    height: 350px;
    width: 500px;
    border-radius: 0.2rem;
}

.container:hover {
    cursor: pointer;
}